html, body, main {
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
}

body {
    background-color: #e72052;
}

main {
    background-color: #ededed;
}

.header {
    margin: 0px;
    padding: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.contents {
    background-color: #ffffff;
    margin-bottom: 10px;
    width: 1200px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.title a{
    color: white;
    text-decoration: none;
}

.description {
    margin: 20px;
    text-align: center;
}

.recipe-list {
    margin-left: auto;
    margin-right: auto;

    padding-right: 40px;
    padding-left: 40px;
    width: 150px;
    height: auto;
    line-height: 30px;
}